.container-cart {
    box-shadow: 0px 0px 3px 3px #ededed;
    border-radius: 20px;
    margin: 20px;
    background: #fafafa;
}

.dz-card.list {
    display: flex;
    margin-bottom: 0px !important;
    overflow: visible;
}

.featured-list li:last-child .dz-card.list {
    margin-bottom: 20px;
}

.dz-card {
    position: relative;
    height: 100%;
    border-radius: var(--border-radius-xl);
    overflow: hidden;
}

.dz-card.list .dz-media {
    margin-left: 20px;
    overflow: visible;
    max-width: 112px;
    min-width: 112px;
}

.bookmark {
    position: absolute;
    bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: end;
    display: flex;
    margin: auto;
    left: 17px;
    width: 100%;
}

.dz-card.list .dz-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px 0;
}

.dz-card.list .dz-media img {
    display: flex;
    border-radius: var(--border-radius-xl);
    width: 100%;
    height: 100%;
}

.container-cart img {
    border-radius: 0px 20px 20px 0px !important;
}

label input {
    width: 23px !important;
    height: 28px !important;
}

.correct {
    position: absolute;
    left: 1px;
    height: 43px;
    top: 26px;
    font-size: 16px;
    border: 0px;
    background-color: red;
    border-radius: 3px;
    padding: 7.8px 10px;
    color: white;
    width: 14%;
}

.menu {
    background: #660099;
    color: white;
    border-radius: 5px;
    padding: 7.5px 10px;
}

.choices {
    width: 85%;
}

.input-group:focus-within .input-group-text,
.input-group:focus-within .form-control {
    border-color: #660099 !important;
    box-shadow: unset;
}
