:root {
    --primary-color: #660099;
}

.widget_getintuch.pb-15.profile {
    direction: rtl;
}

.container-profile {
    border: 2px solid black;
    border-radius: 15px;
    margin: 16px;
    background: black;
    width: 90%;
}

.line {
    height: 20px;
    background-color: white;
    border: 3px solid #cccccc;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    margin: 0px auto 10px;
}

.profile-area .author-bx {
    text-align: center;
    padding: 10px 0;
}

.profile-area .author-bx .dz-media {
    height: 135px;
    width: 135px;
}

.background-fixed {
    position: absolute;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    z-index: 1;
}

.hand {
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 53px;
    z-index: 99999;
    width: 108px;
}
