.container-cart {
    box-shadow: 0px 0px 3px 3px #ededed;
    border-radius: 20px;
    background: #fafafa;
}

.dz-card.list {
    display: flex;
    margin-bottom: 0px !important;
    overflow: visible;
}

.featured-list li:last-child .dz-card.list {
    margin-bottom: 20px;
}

.dz-card {
    position: relative;
    height: 100%;
    border-radius: var(--border-radius-xl);
    overflow: hidden;
}

.dz-card.list .dz-media {
    margin-left: 20px;
    overflow: visible;
    max-width: 112px;
    min-width: 112px;
}

.bookmark {
    position: absolute;
    bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: end;
    display: flex;
    margin: auto;
    left: 17px;
    width: 100%;
}

.dz-card.list .dz-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px 0;
}

.dz-card.list .dz-media img {
    display: flex;
    border-radius: var(--border-radius-xl);
    width: 100%;
    height: 100%;
}

.container-cart img {
    border-radius: 0px 20px 20px 0px !important;
}

label input {
    width: 23px !important;
    height: 28px !important;
}

.correct {
    position: absolute;
    font-size: 18px;
    left: 1px;
    top: 26px;
    font-size: 13px;
    border: 0px;
    background-color: red;
    border-radius: 5px;
    padding: 7.8px 10px;
    color: white;
}

.menu {
    background: #660099;
    color: white;
    border-radius: 5px;
    padding: 7.5px 10px;
}

.recpie-name {
    text-align: center;
    background: black;
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 8px;
    margin-bottom: 0px;
}

.container-date {
    text-align: center;
    background-color: black;
    color: white;
    width: 112px;
    height: 118px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    justify-content: center;
    align-items: center;
}

.dz-custom-swiper
    .dz-tabs-swiper
    .swiper-slide.swiper-slide-thumb-active
    .title {
    color: #660099 !important;
}

.dz-custom-swiper .dz-tabs-swiper .swiper-slide.swiper-slide-thumb-active {
    border-color: #660099 !important;
}
