:root {
    --primary: #660099 !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary);
}

@media all {
    body {
        line-height: 1.5;
        font-size: 1rem;
        letter-spacing: -0.025em;
        color: rgb(74 74 74 / var(--tw-text-opacity, 1));
    }
}

body {
    font-size: 17px;
}

body {
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
}

@media all {
    * {
        border: 0 solid;
        box-sizing: border-box;
    }
}

@media (min-width: 970px) {
    .lg\:rounded {
        border-radius: 0.25rem;
    }

    .lg\:mb-lg {
        margin-bottom: 2.5rem;
    }

    .lg\:grid {
        display: grid;
    }

    .lg\:grid-cols-\[min\(35\%\,300px\)_1fr\] {
        grid-template-columns: min(35%, 300px) 1fr;
    }

    .lg\:gap-md {
        gap: 1.5rem;
    }
}

@media all {
    .mx-33j {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 970px) {
    .lg\:px-rg {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media all {
    .fle-kj4 {
        display: flex;
    }
}

@media (min-width: 970px) {
    .lg\:col-start-2 {
        grid-column-start: 2;
    }

    .lg\:rounded-lg {
        border-radius: 0.5rem;
    }

    .lg\:bg-cookpad-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    }

    .lg\:gap-x-sm {
        column-gap: 0.5rem;
    }

    .navigation-container:has(.sidebar-navigation) {
        grid-template-columns: clamp(240px, 20%, 270px) 1fr;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

body {
    transition: opacity ease-in 0.2s;
}

@media all {
    body {
        line-height: inherit;
        margin: 0;
    }

    body {
        font-size: 1rem;
        letter-spacing: -0.025em;
        line-height: 1.5rem;
    }

    body {
        --tw-text-opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: "liga" on;
        color: rgb(74 74 74 / var(--tw-text-opacity, 1));
        text-rendering: optimizeLegibility;
    }

    .bg-cookpad-gray-9gi {
        --tw-bg-opacity: 1;
        background-color: rgb(255 234 234);
    }
}

@media (min-width: 970px) {
    .lg\:overscroll-y-none {
        overscroll-behavior-y: none;
    }
}

:lang(ar) body {
    font-family: Noto Naskh Arabic, Noto Sans Arabic, sans-serif;
    font-size: 17px;
}

@media all {
    html {
        -webkit-text-size-adjust: 100%;
        font-feature-settings: normal;
        -webkit-tap-highlight-color: transparent;
        font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
            Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-variation-settings: normal;
        line-height: 1.5;
        tab-size: 4;
    }

    html {
        font-size: 1rem;
        letter-spacing: -0.025em;
        line-height: 1.5rem;
    }

    .p-6h1 {
        padding: 1rem;
    }

    *,
    :after,
    :before {
        border: 0 solid;
        box-sizing: border-box;
    }

    .image-zyn {
        cursor: pointer;
        overflow: hidden;
        position: relative;
    }

    .aspect-\[340\/241\] {
        aspect-ratio: 340/241;
    }

    .item-sji {
        align-items: center;
    }

    .justify-byc {
        justify-content: center;
    }

    .text-wbi {
        text-align: center;
    }
}

@media (min-width: 970px) {
    .lg\:aspect-\[120\/170\] {
        aspect-ratio: 120/170;
    }
}

@media all {
    .text-fim {
        --tw-text-opacity: 1;
        color: rgb(96 96 96 / var(--tw-text-opacity, 1));
    }

    input {
        font-feature-settings: inherit;
        color: inherit;
        font-family: inherit;
        font-size: 100%;
        font-variation-settings: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;
    }

    input {
        text-align: right;
    }

    input[type="file"] {
        display: block;
    }

    .image-zyn input {
        cursor: pointer;
        height: 100%;
        inset: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
    }

    img {
        display: block;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    .pointer-events-j3t {
        pointer-events: none;
    }

    .w-8so {
        width: 4rem;
    }

    p {
        margin: 0;
    }

    .mt-mnq {
        margin-top: 1.5rem;
    }

    .text-x8v {
        font-size: 1rem;
        letter-spacing: -0.025em;
        line-height: 1.5rem;
    }

    .font-9s7 {
        font-weight: 600;
    }

    .px-ql7 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .text-b94 {
        font-size: 0.75rem;
        letter-spacing: -0.2px;
        line-height: 1rem;
    }
}

input::placeholder {
    color: #b3a9a9 !important;
}
