<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Title -->
	<title>Ombe- Coffee Shop Mobile App Template (Bootstrap + PWA) |
		DexignZone</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow">

	<meta name="keywords"
		content="android, ios, mobile, mobile template, mobile app, ui kit, dark layout, app, delivery, ecommerce, material design, mobile, mobile web, order, phonegap, pwa, store, web app, Ombe, coffee app, coffee template, coffee shop, mobile UI, coffee design, app template, responsive design, coffee showcase, style app, trendy app, modern UI, technology, User-Friendly Interface, Coffee Shop App, PWA (Progressive Web App), Mobile Ordering, Coffee Experience, Digital Menu, Innovative Technology, App Development, Coffee Experience, cafe, bootatrap, Bootstrap Framework, UI/UX Design, Coffee Shop Technology, Online Presence, Coffee Shop Website, Cafe Template, Mobile App Design, Web Application, Digital Presence, ">

	<meta name="description"
		content="Discover the perfect blend of design and functionality with Ombe, a Coffee Shop Mobile App Template crafted with Bootstrap and enhanced with Progressive Web App (PWA) capabilities. Elevate your coffee shop's online presence with a seamless, responsive, and feature-rich template. Explore a modern design, user-friendly interface, and PWA technology for an immersive mobile experience. Brew success for your coffee shop effortlessly – Ombe is the ideal template to caffeinate your digital presence.">

	<meta property="og:title" content="Ombe- Coffee Shop Mobile App Template (Bootstrap + PWA) | DexignZone">
	<meta property="og:description"
		content="Discover the perfect blend of design and functionality with Ombe, a Coffee Shop Mobile App Template crafted with Bootstrap and enhanced with Progressive Web App (PWA) capabilities. Elevate your coffee shop's online presence with a seamless, responsive, and feature-rich template. Explore a modern design, user-friendly interface, and PWA technology for an immersive mobile experience. Brew success for your coffee shop effortlessly – Ombe is the ideal template to caffeinate your digital presence.">

	<meta property="og:image" content="https://ombe.dexignzone.com/xhtml/social-image.png">

	<meta name="format-detection" content="telephone=no">

	<meta name="twitter:title" content="Ombe- Coffee Shop Mobile App Template (Bootstrap + PWA) | DexignZone">
	<meta name="twitter:description"
		content="Discover the perfect blend of design and functionality with Ombe, a Coffee Shop Mobile App Template crafted with Bootstrap and enhanced with Progressive Web App (PWA) capabilities. Elevate your coffee shop's online presence with a seamless, responsive, and feature-rich template. Explore a modern design, user-friendly interface, and PWA technology for an immersive mobile experience. Brew success for your coffee shop effortlessly – Ombe is the ideal template to caffeinate your digital presence.">

	<meta name="twitter:image" content="https://ombe.dexignzone.com/xhtml/social-image.png">
	<meta name="twitter:card" content="summary_large_image">

	<!-- Mobile Specific -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">

	<!-- Favicons Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/app-logo/favicon.png">

	<!-- Global CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
	<link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500&display=swap"
		rel="stylesheet">
	<style>
		.widget_getintuch.pb-15.profile {
			direction: rtl;
		}

		#flag-image {
			width: 50px;
			height: 30px;
			z-index: 9;
			position: absolute;
			top: 14px;
			right: 16px;
		}
	</style>
</head>

<body>
	<div class="page-wrapper">

		<!-- Preloader -->
		<div id="preloader">
			<div class="loader">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
		<!-- Preloader end-->

		<!-- Header -->
		<header class="header header-fixed">
			<div class="header-content">
				<div class="left-content">
					<a href="javascript:void(0);" class="back-btn">
						<i class="feather icon-arrow-left"></i>
					</a>
				</div>
				<div class="mid-content">
					<h4 class="title">ملف الطاهي</h4>
				</div>
				<div class="right-content d-flex align-items-center gap-4">
					<!-- <a href="edit-profile.html">
						<svg enable-background="new 0 0 461.75 461.75" height="24" viewBox="0 0 461.75 461.75"
							width="24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="m23.099 461.612c2.479-.004 4.941-.401 7.296-1.177l113.358-37.771c3.391-1.146 6.472-3.058 9.004-5.587l226.67-226.693 75.564-75.541c9.013-9.016 9.013-23.63 0-32.645l-75.565-75.565c-9.159-8.661-23.487-8.661-32.645 0l-75.541 75.565-226.693 226.67c-2.527 2.53-4.432 5.612-5.564 9.004l-37.794 113.358c-4.029 12.097 2.511 25.171 14.609 29.2 2.354.784 4.82 1.183 7.301 1.182zm340.005-406.011 42.919 42.919-42.919 42.896-42.896-42.896zm-282.056 282.056 206.515-206.492 42.896 42.896-206.492 206.515-64.367 21.448z"
								fill="#4A3749"></path>
						</svg>
					</a> -->
				</div>
			</div>
		</header>
		<!-- Header -->

		<!-- Main Content Start -->
		<main class="page-content space-top p-b40">
			<div class="container pt-0">
				<div class="profile-area">
					<div class="author-bx">
						<div class="dz-media" style="height: 246px; width: 282px;">
							<img style="
								border-radius: 15px;
								" src="assets/images/chef.jpeg" alt>
							<img id="flag-image"
								src="https://img.freepik.com/free-photo/flag-united-arab-emirates_1401-251.jpg?uid=R118249704&ga=GA1.1.696324772.1728654570&semt=ais_hybrid&w=740"
								class="flag" alt="">
						</div>
						<div class="dz-content">
							<h2 class="name">الطاهي / طارق بن كلبان</h2>
							<p class="text-primary">
								"الطَّبَّاخُ المشهورُ هو سَفيرُ النَّكهاتِ وحَكيمُ المَطبخِ، يَمزجُ بينَ الأصالةِ
								والحداثةِ بِبراعةٍ فائقةٍ.

								بِكُلِّ لَمسةٍ يُحيي التُّراثَ ويَصنعُ مِنَ الطَّعامِ شِعراً يَتَغنَّى بِهِ الذَّوْقُ،
								وَيَحمِلُ في أطباقِهِ عُروضاً
								مِنَ الحُبِّ وَالإبداعِ.

								لا يَكتفي بِإشباعِ البُطونِ، بل يَخلُقُ ذِكرياتٍ تَظَلُّ عالقةً في الأذهانِ، كَلوحةٍ
								فَنِّيَّةٍ تَخطِفُ الأبصارَ قَبلَ
								الأذواقِ.

								هُوَ فَنَّانٌ بِمَلعَقَتِهِ، وَشاعِرٌ بِتَوابلِهِ، يُجسِّدُ بِكُلِّ وَصفَةٍ رِحلةً مِنَ
								الإتقانِ وَالشَّغَفِ."

								هَكَذا يُصبحُ الطَّعامُ عِندَهُ لُغةً تُحَكِي حِكاياتِ العالَمِ! 😊🍴</p>
							<!-- 	<p class="text-primary">
								حالة ا
								لحساب : بإنتظار إستكمال البيانات<
								/p> -->
						</div>
					</div>
					<div class="widget_getintuch pb-15 profile">
					</div>

				</div>
			</div>
		</main>
		<!-- Main Content End -->

		<!-- Menubar -->
		<div class="menubar-area footer-fixed">
			<div class="toolbar-inner menubar-nav">
				<a href="index.html" class="nav-link">
					<i class="fi fi-rr-home"></i>
				</a>
				<a href="wishlist.html" class="nav-link">
					<i class="fi fi-rr-heart"></i>
				</a>
				<a href="cart.html" class="nav-link">
					<i class="fi fi-rr-shopping-cart"></i>
				</a>
				<a href="profile.html" class="nav-link active">
					<i class="fi fi-rr-user"></i>
				</a>
			</div>
		</div>
		<!-- Menubar -->
	</div>
	<!--**********************************
    Scripts
***********************************-->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/js/dz.carousel.js"></script>
	<script src="assets/js/settings.js"></script>
	<script src="assets/js/custom.js"></script>
</body>

</html>